*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #e6cca9;
  margin: 0;
  padding: 0;
}
.title {
  color: #533535;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}
.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images img {
  height: 350px;
  border-radius: 5px;
}
.btn {
  width: 100px;
  height: 60px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #ff6d6d;
  color: #fff;
}
